$primary-green: #396039;
$light-green: #39603933;
$text-green: #008000;
$middle-green: #1E5515;
$dark-green: #10310B;
$primary-cream: #FAF0E6;
$background-cream: #FAF0E6CC;
$light-cream: #FAF0E64D;
$cream-border: #FAF0E6;
$cream-background: rgba(250, 240, 230, 0.30);
$grey: #686868;
$black: #000000;
$white: #FFFFFF;
$bg-color: $white;
$card-bg: #DBE0DB;
$dark-cream: #FAE0C6;

$hero-bg: $primary-green;
$hero-text: $primary-cream;
$hero-button-bg: $primary-cream;
$hero-button-text: $text-green;

$chef-1-bg: #D7DFD7;
$chef-2-bg: #FFD9B3; 
$chef-3-bg: #CFD7004D; 
$chef-4-bg: #00800066; 