<main class="generating-page">
  <div class="generating-page__inner">
    <header class="generating-page__header">
      <a [routerLink]="['/']">
        <img
          src="img/logo_off_white.png"
          alt="Code à Cuisine logo"
          class="generating-page__logo"
        />
      </a>
    </header>

    <section class="generating-page__content">
      <img
        src="animations/loading.gif"
        alt="loading"
        class="generating-page__loader"
      />
      <h1 class="generating-page__title">Generating ...</h1>
    </section>
  </div>
</main>