@use './styles/colors.scss' as *;
@use './styles/fonts.scss' as fonts;

$standardWidth: min(100%, 1920px);
$standardInlinePadding: clamp(20px, 6vw, 77px);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
html, body {
    height: 100%;
    background-color: $bg-color;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    margin: 0;
}
  
button {
    border: unset;
    cursor: pointer;
      &:hover, &:active {
        cursor: pointer;
    }
}
  
// input, textarea {
//     font-family: fonts.$font-family-nunito;
// }
  
input:focus, textarea:focus {
    outline: none;
}
  
.d__none {
    display: none !important;
}
  
.d__flex {
    display: flex !important;
}
  
.full-width {
    width: 100% !important;
}
  
.full-height {
    height: 100vh !important;
}

.pointer {
    cursor: pointer;
}

.chef-badge--1 {
    background-color: $chef-1-bg !important;
  
    .recipe-detail__chef-icon,
    .recipe-detail__direction-chef-icon {
      width: 27.5px !important;
      height: 22px !important;
    }
}
  
.chef-badge--2 {
    background-color: $chef-2-bg !important;
  
    .recipe-detail__chef-icon,
    .recipe-detail__direction-chef-icon {
      width: 25px !important;
      height: 22px !important;
    }
}
  
.chef-badge--3 {
    background-color: $chef-3-bg !important;
  
    .recipe-detail__chef-icon,
    .recipe-detail__direction-chef-icon {
      width: 22px !important;
      height: 22px !important;
    }
}
  
.chef-badge--4 {
    background-color: $chef-4-bg !important;
  
    .recipe-detail__chef-icon,
    .recipe-detail__direction-chef-icon {
      width: 15px !important;
      height: 22px !important;
    }
}