<main class="hero">
  <div class="hero__inner">
    <header class="hero__header">
      <a [routerLink]="['/']">
        <img src="img/logo_off_white.png" alt="Code à Cuisine logo" class="hero__logo" />
      </a>
    </header>

    <section class="hero__content">
      <div class="hero__top">
        <div class="hero__text">
          <h3 class="hero__eyebrow">AI-Powered recipe generator</h3>
          <h1 class="hero__title">Code à Cuisine</h1>
        </div>
        <a
          [routerLink]="['/generate-recipe']"
          class="hero__primary-btn"
        >
          Get started
        </a>
      </div>

      <div class="hero__bottom-row">
        <span class="hero__bottom-label">Hungry for inspiration?</span>
        <a [routerLink]="['/cookbook']" class="hero__bottom-link">
          <span class="hero__bottom-link-text">Go to cookbook</span>
          <img
            class="hero__bottom-arrow"
            src="img/arrow_off_white_right.png"
            alt="arrow"
          />
        </a>
      </div>
    </section>
    <img
        class="hero__visuals"
        src="img/hero_visuals.png"
        alt="dishes"
        aria-hidden="true"
      />
      <img
        class="hero__visuals-mobile"
        src="img/hero_visuals_mobile.png"
        alt="dishes"
        aria-hidden="true"
      />
  </div>
</main>