@use './../../../styles/colors.scss' as *;
@use './../../../styles//fonts.scss' as fonts;
@use './../../../styles/mixins.scss' as mixins;

:host {
  display: block;
}

.hero {
    background-color: $hero-bg;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero__inner {
    max-width: 1440px;
    min-height: 100vh;
    margin-inline: auto;
    padding: 40px 80px;
    padding-top: 0px;
    position: relative;
    width: 100%;
    color: $hero-text;
    font-family: fonts.$font-family-ubuntu;
    display: flex;
    flex-direction: column;
}

.hero__header {
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.hero__logo {
    height: 48px;
    width: auto;
}

.hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.hero__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.hero__eyebrow {
  font-family: fonts.$font-family-quicksand;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0%;
  line-height: 1.1;
}

.hero__title {
  font-family: fonts.$font-family-ubuntu;
  font-weight: 700;
  font-size: 104px;
  line-height: 1;
}

.hero__primary-btn {
  @include mixins.button($hero-button-bg, $hero-button-text);
}

.hero__bottom-row {
  @include mixins.flex(center, flex-start, 32px, row);
  margin-bottom: 80px;
}

.hero__bottom-label {
  font-size: 32px;
  font-family: fonts.$font-family-ubuntu;
  font-weight: 500;
  line-height: 104%;
  color: $hero-text;
}

.hero__bottom-link {
  @include mixins.flex(center, center, 16px, row);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: fonts.$font-family-quicksand;
  color: $hero-text;

  &:hover .hero__bottom-link-text {
    text-decoration: underline;
  }
}

.hero__bottom-link-text {
  display: inline-block;
}

.hero__bottom-arrow {
  display: inline-block;
  height: auto;
  width: 24px;
}

.hero__visuals {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: auto;
  object-fit: contain;
  pointer-events: none;
}

.hero__visuals-mobile {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: auto;
  object-fit: contain;
  pointer-events: none;
}

@media (max-width: 1400px) {
  .hero__visuals {
    display: none;
  }

  .hero__visuals-mobile {
    display: block;
  }
}

@media (max-width: 1000px) {
  .hero__top {
    gap: 40px;
  }

  .hero__text {
    gap: 8px;
    max-width: 75%;
  }

  .hero__eyebrow {
    font-size: 36px;
  }

  .hero__title {
    font-size: 84px;
  }

  .hero__bottom-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

@media (max-width: 620px) {
  .hero__inner {
    padding: 0px 16px 8px 16px;
  }

  .hero__header {
    height: 52px;
    margin-bottom: 24px;
  }

  .hero__logo {
    height: 32px;
  }

  .hero__top {
    gap: 40px;
  }

  .hero__text {
    gap: 8px;
    max-width: 75%;
  }

  .hero__eyebrow {
    font-size: 24px;
  }

  .hero__title {
    font-size: 64px;
    line-height: 72px;
  }

  .hero__primary-btn {
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 16px;
  }

  .hero__bottom-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 60%;
  }

  .hero__bottom-label {
    font-size: 24px;
    line-height: 120%;
  }

  .hero__bottom-link {
    height: 52px;
    padding: 4px 16px;
    gap: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
  }

  .hero__bottom-arrow {
    width: 20px;
  }

  .hero__visuals {
    display: none;
  }

  .hero__visuals-mobile {
    display: block;
    height: 95vh;
  }
}

@media (max-width: 370px) {
  .hero__inner {
    padding: 0px 16px 8px 16px;
  }

  .hero__header {
    height: 52px;
    margin-bottom: 24px;
  }

  .hero__logo {
    height: 32px;
  }

  .hero__top {
    gap: 40px;
  }

  .hero__text {
    gap: 8px;
    max-width: 75%;
  }

  .hero__eyebrow {
    font-size: 20px;
  }

  .hero__title {
    font-size: 54px;
    line-height: 62px;
  }

  .hero__primary-btn {
    height: 42px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 8px;
  }

  .hero__bottom-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 60%;
  }

  .hero__bottom-label {
    font-size: 20px;
    line-height: 120%;
  }

  .hero__bottom-link {
    height: 42px;
    padding: 4px 8px;
    gap: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  .hero__bottom-arrow {
    width: 20px;
  }

  .hero__visuals {
    display: none;
  }

  .hero__visuals-mobile {
    display: block;
  }
}

.hero__footer {
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 2;
}

.hero__footer-link {
  font-family: fonts.$font-family-quicksand;
  font-size: 14px;
  font-weight: 500;
  color: rgba($hero-text, 0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $hero-text;
  }
}

@media (max-width: 620px) {
  .hero__footer {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .hero__footer-link {
    font-size: 13px;
  }
}

@media (max-width: 290px) {
  .hero__footer-link {
    font-size: 12px;
  }
}