@use './../../../styles/colors.scss' as *;
@use './../../../styles//fonts.scss' as fonts;
@use './../../../styles/mixins.scss' as mixins;

:host {
  display: block;
}

.hero {
    background-color: $hero-bg;
    min-height: 100vh;
}

.hero__inner {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 80px;
    padding-top: 0px;
    position: relative;

    color: $hero-text;
    font-family: fonts.$font-family-ubuntu;
    display: flex;
    flex-direction: column;
}

.hero__header {
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.hero__logo {
    height: 48px;
    width: auto;
}

.hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.hero__eyebrow {
  font-family: fonts.$font-family-quicksand;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0%;
  line-height: 1.1;
}

.hero__title {
  font-family: fonts.$font-family-ubuntu;
  font-weight: 700;
  font-size: 104px;
  line-height: 1;
}

.hero__primary-btn {
  @include mixins.button($hero-button-bg, $hero-button-text);
}

.hero__bottom-row {
  @include mixins.flex(center, flex-start, 32px, row);
  margin-bottom: 80px;
}

.hero__bottom-label {
  font-size: 32px;
  font-family: fonts.$font-family-ubuntu;
  font-weight: 500;
  line-height: 104%;
  color: $hero-text;
}

.hero__bottom-link {
  @include mixins.flex(center, center, 16px, row);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: fonts.$font-family-quicksand;
  color: $hero-text;

  &:hover .hero__bottom-link-text {
    text-decoration: underline;
  }
}

.hero__bottom-link-text {
  display: inline-block;
}

.hero__bottom-arrow {
  display: inline-block;
  height: auto;
  width: 24px;
}

.hero__visuals {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: auto;
  object-fit: contain;
  pointer-events: none;
}